# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
eclipse

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
bin/
.classpath
.project
.vscode

# gradle
build
out
classes
.gradle

# other
run
.fabric
.forge

# macos
*.DS_Store

# api keys
api-keys.properties