# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
bin/
.classpath
.project
.vscode

# gradle
build
out
classes
.gradle

# other
eclipse
run

# macos
*.DS_Store

# Files from Forge MDK
forge*changelog.txt
